@import "base/variables";
*{
    font-family: 'Museo Sans';
}
.container{
    width: 950px;
    margin: 0 auto;
}
@import "blocks/promo.scss";
@import "blocks/header.scss";
@import "blocks/buttons.scss";
@import "blocks/advantages.scss";
@import "blocks/media.scss";